*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.logo-header{
    height:50px;
    width: 100%;
    margin-bottom: 20px;
   
}

.logo-header img {
    height: 50px;
    border-right: 1px solid rgb(196, 196, 196);;
    padding-right: 18px;
}

ul li{
    display: inline;
    text-decoration: none;
    padding: 0 10px;
  }

li a{
    display: inline;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: rgb(128, 127, 127);
}

nav li:first-child{
    padding-left: 0;
}

nav{
    margin-bottom: 20px;
}

.container{
    width: 75%;
    margin: auto;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}
/* elementi sopra definiti bene */

.side-column{
    width: 20%;
    border-radius: 10px;
}

.middle-column{
    margin: 0 25px;
    width: calc(60% - 50px);
}

.text-img{
    font-family: 'Montserrat', sans-serif ;
    color: ivory;
    width: 50%;
    /* height: 100%; */
    padding: 280px 0 0 50px;
    /* vertical-align: bottom;     */
}

.jumbo-img{
    background-size: cover; 
    min-height: 450px ;
    background-position:center;
    border-radius: 10px;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../img/banner.jpg) ; 
}

.img-side{
    background-size: cover;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    background-position: center;
}

 .side-column .img-side-1{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/img-1.jpg) ; 
}

.side-column .img-side-2{
   background-image: 
   linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/img-3.jpg) ; 
}
/* side column */
.side-column .text-column{
    margin-top: 15px;
    text-align: left;
    font-family: 'Montserrat', sans-serif ;
}

.side-column .text-column p{
    font-size: smaller;
    color: rgb(128, 127, 127);
}

.side-column .text-column h4{
    font-size:medium;
    color: rgb(37, 37, 37);
    font-weight: 600;
    margin-bottom: 10px;
}

.middle-column .img-middle{
   background-image: 
   linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/banner-2.jpg) ; 
}

/* middle column */
.middle-column .text-column{
    margin-top: 15px;
    text-align: left;
    font-family: 'Montserrat', sans-serif ;
}

.middle-column .text-column p{
    font-size: smaller;
    color: rgb(128, 127, 127);
}

.middle-column .text-column h4{
    font-size:medium;
    color: rgb(37, 37, 37);
    font-weight: 600;
    margin-bottom: 10px;
}
#topic h3{
    font-weight: unset;
    font-weight: 800;
}

#topic p{
    color: rgb(128, 127, 127); 
    font-size:larger;

}

#topic{
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

#jumbothron{
    margin-bottom: 30px;
}

#article{
    margin-bottom: 30px;
}

#container-footer{

}

#container-footer span::after{
    content: "\01F49A";
}